@import '../../../styles/variables.scss';
.heading {
    color: $primary-white;
    text-align: center;
    margin: 0;
}

@media only screen and (min-width: $min-320) {
    .heading {
        padding: 1em 0;
    }
}