@import '../../../styles/variables.scss';
.heading {
    color: $text-dark;
    text-align: center;
    margin: 0;
}

@media only screen and (min-width: $min-320) {
    .heading {
        padding: 0 0 0.5em;
    }
}