{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "sourceMaps": true,
  "retainLines": true,
  "plugins": ["transform-async-to-generator"],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  }
}