{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "sourceMaps": true,
  "retainLines": true,
  "env": {
    "debug": {
      "retainLines": true
    },
    "production": {
      "presets": ["react-optimize"]
    }
  }
}