@import '../../styles/variables.scss';
.headingYellow {
    color: $primary-red;
    text-align: center;
}

@media only screen and (min-width: $min-320) {
    .headingYellow {
        text-align: center;
        padding: 0 15px;
    }
}

@media only screen and (min-width: $min-768) {
    .headingYellow {
        text-align: center;
        padding: 0 30px;
    }
}