@import '../../../styles/variables.scss';

.error {
    background: $primary-red;
    border-radius: $border-radius;
    padding: 11px 15px;
    margin: 0 1em 2em;
    width: calc(100% - 2em);
    box-shadow: $box-shadow;
}

@media only screen and (max-width: $max-768) {
    .error {
        width: 100%;
        margin: 0 0 2em;
    }
}