// Fade in
.fadeIn-enter {
    opacity: 0;
}

.fadeIn-enter.fadeIn-enter-active {
    opacity: 1;
    transition: opacity .3s;
}

.fadeIn-leave {
    opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
    opacity: 0.01;
    transition: opacity .3s;
}

// Fade in and scale
.fadeInScale-enter {
    opacity: 0;
    transform: scale(0.7);
}

.fadeInScale-enter.fadeInScale-enter-active {
    opacity: 1;
    transition: all .5s;
    transform: scale(1);
}

.fadeInScale-leave {
    opacity: 1;
    transform: scale(1);
}

.fadeInScale-leave.fadeInScale-leave-active {
    opacity: 0.01;
    transition: all .5s;
    transform: scale(0.7);
}