.fadeIn-enter {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 1);
}

.fadeIn-enter.fadeIn-enter-active {
    opacity: 1;
    transition: opacity 500ms, transform 500ms;
    transform: scale3d(1, 1, 1);
}

.fadeIn-leave {
    opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
    opacity: 0.01;
    transition: opacity 250px, transform 250px;
    transform: scale3d(0.8, 0.8, 1);
}
