// Fade in
.fadeIn-enter {
    opacity: 0;
}

.fadeIn-enter.fadeIn-enter-active {
    opacity: 1;
    transition: opacity 700ms;
}

.fadeIn-leave {
    opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
    opacity: 0.01;
    transition: opacity 350ms;
}

// Fade in and scale
.fadeInScale-enter {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 1);
}

.fadeInScale-enter.fadeInScale-enter-active {
    opacity: 1;
    transition: all 700ms, transform 700ms;
    transform: scale3d(1, 1, 1);
}

.fadeInScale-leave {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.fadeInScale-leave.fadeInScale-leave-active {
    opacity: 0.01;
    transition: all 350ms, transform 350ms;
    transform: scale3d(0.8, 0.8, 1);
}