$primary-yellow: #facb7a;
$primary-red: #DC886C;
$primary-pink: #f9f7f6;
$primary-black: #000;
$primary-white: #fff;
$secondary-black:#2f3238;
$navbar-background: #A9BAC2;
$navbar-text: #586A6E;
$text-dark: #586A6E;
$button-background: #78B8DB;
$linear-background-primary: linear-gradient(-180deg, #7C909B, #7E7767);

// Animations
$hover-transition: .15s;

// Borders
$border-radius: 3px;
$border: 2px;
$box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);

// Custom break point (Min)
$min-1800: 1800px;
$min-1440: 1440px;
$min-1280: 1280px;
$min-1200: 1200px;
$min-1024: 1024px;
$min-960: 960px;
$min-768: 768px;
$min-480: 480px;
$min-360: 360px;
$min-320: 320px;

// Custom break points (Max)
$max-1280: 1279px;
$max-1200: 1199px;
$max-1024: 1023px;
$max-960: 959px;
$max-768: 767px;
$max-480: 479px;
$max-360: 359px;
$max-320: 320px;

// Containers max width
$max-width: 1920px;
$max-480: 480px;