@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
.button {
  @include responsive-font(1.5vw, 18px, 30px);
  border-radius: $border-radius;
  overflow: hidden;
  border: 0;
  padding: 15px 20px;
  cursor: pointer;
  transition: box-shadow .30s ease-out, transform .25s ease-out, opacity .15s ease-out;

  &:hover {
    opacity: 0.9;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    transform: translate(0, -4px);
  }
}

.fullWidth {
  margin: 0 1em;
  width: calc(100% - 2em);
}

.red {
  background: $primary-red;
}