@import '../../../styles/variables.scss';
.exit {
    position: absolute;
    right: 10px;
    top: 10px;
    fill: $text-dark;
    cursor: pointer;
    transition: fill $hover-transition;
    &:hover {
        fill: $primary-black;
    }
}