@import '../../../styles/variables.scss';
.fullWidth {
  width: 100%;
}

.centerLink {
  margin-top: 9px;
}

.forgotPasswordContainer {
  text-align: center;
  padding-top: 1em;
}

.iconArrowForward,
.iconFacebook {
  fill: $primary-white;
}

.iconFacebook {
  height: 24px;
  width: 24px;
}

.buttonContainer {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}