@import '../../../styles/variables.scss';
.fullWidth {
    width: 100%;
}

.centerLink {
    margin-top: 9px;
}

.relative {
    position: relative;
}

.forgotPasswordContainer {
    text-align: center;
    padding-top: 1em;
}

.back {
    text-align: center;
    padding-bottom: 1em;
    cursor: pointer;
}

.iconArrowForward,
.iconFacebook {
    fill: $primary-white;
}

.iconFacebook {
    height: 24px;
    width: 24px;
}

.buttonContainer {
    margin: 0 2px;
    padding: 2em .625em .75em;
}

.buttonContainer,
.formContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.formContainer {
    padding-top: 2em;
}

.formContainer {
    transform: translate3d(110%, 0, 0);
}