@import '../../../styles/variables.scss';

.container {
    background-color: transparent;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.link {
    text-decoration: none;
    outline: none;
    font-weight: bold;
    margin: 0 1em 0.5em 0;
    pointer-events: visible;
}

.home_link {
    color:$primary-font-color;
}

.links_right {
    position: relative;
    margin-left: auto;
}

@media only screen and (min-width: $min-320) {
    .container {
        padding: 10px;
    }
}

@media only screen and (min-width: $max-768) {
    .container {
        padding: 30px;
    }
}