@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.container {
    background: $secondary-black;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

a.link {
    @include responsive-font(1.5vw, 20px, 28px);
    text-decoration: none;
    outline: none;
    font-weight: bold;
    margin: 0 0.5em;
    pointer-events: visible;
    color:$primary-white;
    opacity: 0.9;

    &:hover {
        color: $primary-red;
    }
}

a.home_link {
    color:$primary-white;
    opacity: 0.9;
}

.links_right {
    position: relative;
    margin-left: auto;
}

@media only screen and (min-width: $min-320) {
    .container {
        padding: 0.5em;
    }
}

@media only screen and (min-width: $max-768) {
    .container {
        padding: 1em;
    }
}